body {
	margin: 0;
	padding: 0;
	font-family:sans-serif;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/* Top portion of webpage

	navbar
	 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	|	THE WHITNEY LAB						HOME 	 PEOPLE	  	RESEARCH	PUBLICATIONS	PRESS	OUTREACH	|
	|	for Perception and Action																				|
	 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

	class=top						h1: Title of page (e.g. People, etc.)
									h2: Person's name (e.g. David Whitney)
									h3: Title (e.g. Professor)
									h4: Associated dept. (e.g. Psychology)
									p: Email

	 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

			CONTENT

	 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

	footer


	 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 */

a {
	text-decoration: none;
}

/* Default font */
p {
	font-family: Lato;
	font-weight: lighter;
	color: #2a3435;
	font-size: 20px;
}

.top {
	padding-top: 90px;
	padding-bottom: 40px;
	background: #ebf3f4;
}

.top h2 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-weight: lighter;
	color: #2a3435;
	/*font-family: Palatino;*/
	font-family: Lato;
	font-size: 40px;
}

.top h3 {
	/*font-family: Geneva;*/
	font-family: Lato;
	font-size: 25px;
	font-weight: lighter;
	padding-bottom: 0px;
	line-height: 0px;
}

.top h4 {
	padding-top: 0px;
	/*font-family: Palatino;*/
	font-family: Lato;
	font-weight: lighter;
	font-size: 18px;
	line-height: 0px;
}

top p {
	padding-top: 20px;
	font-size: 19px;
	color: #5F9BBF;
}

/**************** Responsive Navbar ******************/

header{
	position: fixed;
	top:0;
	left:0;
	padding: 0 60px;
	background-color: #fdfffb;
	width:100%;
	box-sizing: border-box;
	/*box-shadow: 0px 2px 10px #A8A9A9;*/
	box-shadow: 0px 2px 10px #888888;
	z-index: 500;
}

header .logo{
	content: url(../img/header/logo.png);
	padding: 10px 10px 10px 10px;
	height: 32px;
	line-height: 50px;
	float:left;
}

header nav{
	float:right;
}

header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li{
	position: relative;
	list-style: none;
}

header nav ul li a {
	color: #2a3435;
	/*color: #374344;*/
	font-size: 14px;
	font-family: Lato;
	font-weight: lighter;
	text-decoration: none;
	text-transform: uppercase;
	height:50px;
	line-height: 60px;
	padding: 0 15px;
	display: block;
}

header .highlight, header .current a{
	/*color: #5EA8AE;*/
	/*color: #82a4ad;*/
	color: #5EA8AE;
	/*color: #d7e1e2;*/
	font-weight: bold;
}

a:hover{
	/*color: #5F9BBF;*/
	color: #5EA8AE;
}

a {
  color: #1F2A2E;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-toggle{
	color:white;
	float:right;
	line-height: 50px;
	font-size:24px;
	cursor: pointer;
	display: none;
}

/*Responsive navbar */
@media (max-width: 1000px){

	header{
		padding:0 20px;
		background-color: #2d302d;
		box-shadow: 0px 2px 10px black;
	}

	.menu-toggle{
		display: block;
	}

	header nav ul li a {
		color: white;
		border-bottom: 1px solid rgba(0,0,0,.7);

	}

	header nav{
		position: absolute;
		width:100vw;
		height: calc(100vh - 50px);
		background: rgba(0, 0, 0, 0.9);
		top:50px;
		left:-100%;
		transition: 0.5s;
	}

	header nav.active{
		left:0px;
	}

	header nav ul{
		display: block;
		text-align: center;
	}

	header nav ul li.active ul{
	    position: relative;
	    background-color: #003e6f;
    }

    header nav ul li ul li{
    	width:100vw;
    	text-align: center;
    }

}

/***************** Responsive Footer ****************/


footer {
	text-align: left;
	/*background: linear-gradient(to bottom right, #022a33, #5EA8AE);*/
	/*background: linear-gradient(to bottom right, #022a33, #267c4d);*/
	/*background: linear-gradient(to bottom right, #274f59, #82a4ad);*/
	background: linear-gradient(to bottom right, #274f59, #5EA8AE);

	overflow: hidden;
}

footer #leftSide {
	display: inline-block;
	padding-left: 50px;
	letter-spacing: 3px;
}

footer #top {
	min-height: 280px;
	overflow: hidden;
}

footer #address p {
	font-size: 15px;
	color: #dae8e7;
	line-height: 7px;
}

footer #address h5 {
	/*font-family: FreeMono, serif;*/
	font-family: Lato;
	font-size: 25px;
	color: white;
	font-weight: lighter;
	margin-top: 30px;
	padding-bottom: 0;
	margin-bottom: 0;
}

footer #social {
	padding-top: 20px;
	word-spacing: 15px;
}

footer #rightSide {
	padding-top: 30px;
	padding-right: 60px;
	float: right;
	display: inline-block;
}

footer #berk {
	padding-top: 10px;
	float: right;
}

footer .copyright {
	text-align: center;
	vertical-align: bottom;
	padding-bottom: 10px;
	min-height: 20px;
	background-color: rgba(15, 36, 49, 0.78);
	padding-top: 15px;

}

footer .copyright p{
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	color: #B2BDC3;
	font-size: 13px;
}

@media (max-width: 1000px){

	footer {
		text-align: center;
	}

	footer #top {
		display: flex;
		flex-direction: column;
		float: none;
	}

	footer #leftSide {
		padding-left: 0px;
	}

	footer #rightSide {
		padding-top: 40px;
		padding-right: 0px;
		display: inline-block;
		order: 2;	
	}

	footer #address {
		float: none;
		padding-left: 0px;
		margin-left: 0px;
	}

	footer #berk {
		display: flex;
		justify-content: center;
		float: none;
		padding-top: 20px;
		padding-bottom: 20px;
	}	
}


/***************** Home Page *******************/

/* Showcase */ 
#showcase {
	background: url(../img/home/background.png);
	background-position: center;
	text-align: center;
	min-height: 750px;
	max-width: 100%;
	line-height: 1.2;
}

#showcase .container {
	overflow: hidden;
}

#showcase h1{
	font-weight: lighter;
	margin-top: 250px;
	font-size: 4em;
	color: #303332;
	font-family: FreeMono, sans-serif;
	text-transform: uppercase;
	margin-bottom: 10px;
	letter-spacing: 4px;
	overflow: hidden;
}

#showcase h5{
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	font-size: 27px;
	color: #293C3E;
	letter-spacing: 8px;
	text-transform: uppercase;
}

#showcase p{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-family: FreeMono, serif;
	font-size: 35px;
	color: #293C3E;
	letter-spacing: 3px;	
}

@media (max-width: 600px) {

	#showcase h1 {
		font-size: 1.7em;
		margin-top: 400px;
	}

	#showcase h5 {
		font-size: 13px;
	}

	#showcase p {
		font-size: 20px;
	}

	#showcase {
		/*background: url(test.png);*/
		background-position: center;
		text-align: center;
		margin-top: -200px;
	}

}

#welcome {
	padding: 25px 50px 0px 50px;
	text-align: center;
}

#welcome h3 {
	font-family: Lato;
	font-size: 30px;
	font-weight: lighter;
	padding-bottom: 0px;
	line-height: 0px;
	color: #2a3435;
}

#about {
	padding: 0px 50px 0px 50px;
}

#about h3 {
	font-family: Lato;
	font-size: 30px;
	font-weight: lighter;
	padding-bottom: 0px;
	line-height: 0px;
	color: #2a3435;
}

#news {
	padding: 25px 50px 0px 50px;
	text-align: center;
}

#news h3 {
	font-family: Lato;
	font-size: 30px;
	font-weight: lighter;
	padding-bottom: 0px;
	line-height: 0px;
	color: #2a3435;
}

#news .row .box {
	width: 300px;
	height: 500px;
	padding: 30px 20px 35px 20px;
	margin: 20px 10px 100px 10px;
	text-align: center;
	display: inline-block;
	background: #ebf3f4;
	font-weight: lighter;
	color: #2a3435;
	font-size: 23px;
	overflow: hidden;
}
#news .row .box:hover {
	/*background-color: #fdfffb;*/
	background-color: #dee5e5;
}

#news .row .box {
	overflow: hidden;
	text-decoration: none;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

#news .row .box h2 {

	/*font-family: Palatino;*/
	font-family: Lato;
	font-weight: lighter;
	font-size: 20px;
	line-height: 0px;
}

@media (max-width: 1200px) {
	#news .row .box {
		width: 250px;
		height: 500px;
	}
}





	/***************** Personnel Pages *******************/


.photo {
	padding-bottom: 0px;
	margin-bottom: 0px;
	display: inline-block;
	padding-left: 50px;
}

.contact {
	position: absolute;
	padding-top: 10px;
	display: inline-block;
	padding-left: 30px;
}

.contact p {
	padding-top: 20px;
	font-size: 19px;
	color: #5F9BBF;
}

.webpage {
	margin-top: 20px;
	border: 1px solid #3d4b4c;
	background: #bec9d6;
	border-radius: 5px;
	text-align: center;
	color: #3d4b4c;
	padding: 10px 20px 10px 20px;
	font-size: 18px;
}

.webpage:hover {
	background-color: #a8b4c1;
}

.webpage {
	color: #1F2A2E;
	text-decoration: none;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.research {
	margin-bottom: 100px;
}

.research h2 {
	color: #2a3435;
	margin-bottom: 0px;
	padding-left: 50px;
	/*font-family: Geneva;*/
	font-family: Lato;
	font-weight: lighter;
	font-size: 30px;
}

.research p {
	margin-top: 10px;
	padding-left: 50px;
	padding-right: 50px;
	/*font-family: Geneva;*/
	font-family: Lato;
	font-weight: lighter;

	font-size: 20px;
}

article {
	background: #ebf3f4;
	margin: 50px;
	padding: 50px 50px 50px 50px;
}

@media (max-width: 800px){

	.top {
		display: flex;
		flex-direction: column;
		float: none;
		text-align: center;
	}

	.top .photo {
		float: top;
		padding-left: 0px;
		position: relative;
		order: 1;
	}

	.top .contact{
		padding-left: 0px;
		position: relative;
		float: bottom;
		order: 2;
	}

}



/***************** People Page *******************/


.lab_photo {
	padding: 100px 10px 100px 10px;
	margin-bottom: 50px;
	text-align: center;
	background: #ebf3f4;
}

.lab_photo h3 {
	text-align: center;
	margin-top: 45px;
	font-weight: lighter;
	color: #2a3435;
	font-family: Lato;
	font-size: 37px;
}
.people {
	padding-bottom: 100px;
}
.people h3 {
	padding-top: 20px;
	font-family: Lato;
	font-weight: lighter;
	font-size: 32px;
}

.people .row {
	text-align: center;
}


.people .label {
	width: 250px;
	height: 350px;
	padding: 30px 20px 35px 20px;
	margin: 20px 20px 20px 20px;
	text-align: center;
	display: inline-block;
	background: #ebf3f4;
	font-weight: lighter;
	color: #2a3435;
	font-family: Palatino;
	font-size: 23px;
}
.people .label:hover {
	/*background-color: #fdfffb;*/
	background-color: #dee5e5;
}
.label {
	overflow: hidden;
	text-decoration: none;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}



/****************** Outreach Page ******************/

.outreach {
	padding: 90px 100px 50px 100px;
	background: #ebf3f4;
}

.outreach h2 {
	text-align: center;
	margin-top: 45px;
	font-weight: lighter;
	color: #2a3435;
	font-family: Lato;
	font-size: 37px;
}

#outreachInfo{
	padding: 30px 100px 20px 50px;
}

#FAQ h2 {
	font-family: Lato;
	font-weight: lighter;
	margin-left: 50px;
}

#modules h2 {
	font-family: Lato;
	font-weight: lighter;
	margin-left: 50px;
}
#modules {
	margin-bottom: 60px;
}


.collapsible {
	background: #ebf3f4;
	color: #444;
	cursor: pointer;
	padding: 18px;
	border-left: 6px solid #5EA8AE;
	border-right: none;
	border-bottom: none;
	border-top: none;
	width: 80%;
	margin-left: 50px;
	text-align: left;
	outline: none;
	font-size: 18px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move
the mouse over it (hover) */
.collapsible:hover {
	background-color: #fdfffb;
}
.collapsible {
	text-decoration: none;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

/* Style the collapsible content. Note: hidden by default */
.dropdown {

	margin-left: 100px;
	width: 70%;
	font-size: 20px;
	display: none;
	overflow: hidden;

	background-color: white;
}



